```{css, echo=FALSE}
details > summary {
  padding: 10px 6px;
  background-color: #e5f5f5;
  border: none;
  cursor: pointer;
}
details {
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
}

.question {
  font-size: 120%;
  color: blue
}

```
